body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ruleConfig {
    counter-reset: ruleCt;
}

div.rule-row::before {
    counter-increment: ruleCt;
    content: "Criteria " counter(ruleCt) ": ";
    display: flex;
    align-items: center;
    padding: 10px;
}

table.table-info,
div.rule-row {
    background: antiquewhite;
}

.ruleConfig .input-group {
    width: 35%;
}

@media screen and (max-width: 992px) {
    .ruleConfig .input-group {
        width: 85%;
    }
}

span.error {
    color: #b94a48;
    font-size: 11px;
}

.add-button {
    margin-left: auto;
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.card-text {
    font-weight: 500;
}